*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 50px 165px 72px 166px;
    background-color: #FAF8F6;
    font-family: Epilogue;
}
header{
    display: flex;
    gap: 811px;
    color: #172339;
    margin-bottom: 100px;
}
.Request{
    padding: 12px 24.5px 12px 23.5px;
    background-color: transparent;
    color: #172339;
    border: 1px solid var(--Dark-Blue, #172339);
    border-radius: 6px;
    font-weight: 700px;
    font-size: 16px;
}
.Request:hover{
        background-color: var(--Dark-Blue, #172339);
        color: #FAF8F6;
}
main{
    display: flex;
}
.one{
    display: flex;
    flex-direction: column;   
    gap: 40px;
}
h1{
    font-size: 72px;
    color: #172339;
}
.marketing{
    color: var(--Grey, #49566D);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; 
    letter-spacing: 0.1px;
    width: 350px;
}
.request{
    padding: 15px 31px 14px 32px;
    width: 256px;
    border-radius: 6px;
    background-color: var(--Dark-Blue, #172339);
    border: none;
    font-size: 18px;
    font-weight: 700px;
    color: var(--Cream-White, #FAF8F6);
    line-height: 32px; 
    letter-spacing: -0.18px;
}
.request:hover{
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
}
.curved{
    width: 287px;
    height: 36px;
    z-index: 0;
    transform: translate(-24rem, -3rem);
}
.phone{
    width: 350px;
    height: 610px;
    z-index: -1;
    margin-left: 490px;
    border-radius: 15px;
    transform: translate(-60rem, -4.8rem)
}
.numbers{
    display: flex;
    flex-direction: column;
    gap:63px;
    color: #172339;
    transform: translate(-70rem, 1rem)
}
.number{
    font-size: 48px;
    font-weight: 700;
}
.comp{
    font-size: 16px;
    font-weight: 400;
}
.jeremy{
    height: 34.1rem;
    text-align: left;
    margin-top: 154px;
    background-color: #172339;
    color: #F3EDE7;
    margin-bottom: 95px;
    display: flex;
    gap: 35%;
    border-radius: 15px;
    z-index: 1;
}
.jeremyimg{
    width: 360px;
    height: 590px;
    z-index: 0;
    transform: translate(25%, -7.6%);
}
.pattern{
    width: 64.049px;
    height: 52px;
    z-index: 1;
    transform: translate(-15rem, 11rem);
}
.jj{
    margin-top: 9%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    line-height: 35px;
    letter-spacing: 0.1px;
    transform: translate(-35rem, -1rem);
    z-index: 1;
}
.work{
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.5px;
    z-index: 1;
}
.like{
    width: 350px;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px; 
    letter-spacing: 0.1px;
    z-index: 1;
}
.backgroundcolor{
    z-index: -1;
    width: 100%;
    height: 464px;
    background-color:var(--Cream, #F3EDE7);
    transform: translate(-10.4rem, 9rem);
    position: absolute;  
}
footer{
    display: flex;
    gap: 420px;
}
.suite{
    font-size: 25px;
}
.copyright{
    color: var(--Grey, #49566D);
}
.icons{
    display: flex;
    gap: 20%;
    height: 20px;
}

@media only screen and (min-width:760px) and (max-width: 890px){
    body{
        margin: 40px 40px 72px 39px;
    }
    header{
        gap: 57%;
        margin-bottom: 20%;
    }
    h1{
        font-size: 56px;
        font-weight: 400;
        line-height: 64px; 
        letter-spacing: -0.778px;
        width: 573px;
    }
    .numbers{
        flex-direction: row;
        margin-left: 25%;
        gap: 50%;
        transform: translate(-109rem, 30rem)
    }
    .number{
        text-align: center;
    }
    .comp{
        text-align: center;
    }
    .phone{
        width: 281px;
        height: 482px;
        top: 11%;
        left: -1%;
    }
    .curved{
        left: 29%;
        top: 12%;
        width: 270px;
    }
    h1{
        font-size: 56px;
    }
    h2{
        font-size: 40px;
        font-weight: 400;
        line-height: 48px; 
        letter-spacing: -0.417px;
    }
    .jeremy{
        height: 684px;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.09px;
        font-size: 18px;
        margin-top: 16rem;
        transform: translate(0%, 10%);
    }
    .jeremyimg{
        transform: translate(14rem, -11rem);
        width: 252px;
        height: 402px;
    }
    .pattern{
        transform: translate(-12rem, 16.8rem);
    }
    .jj{
        text-align: center;
        letter-spacing: 0.09px;
        transform: translate(-46rem, 18rem);
    }
    .like{
        width: 573px;
    }
    footer{
        display: flex;
        gap: 202px;
        transform: translate(3%, 250%)
    }
    .backgroundcolor{
        height: 700px;
        position: absolute;
        transform: translate(-2.7rem, -27rem);
    }

}
@media only screen and (min-width:1280px){
header{ 
    gap: 71%;
}
h1{
    font-size: 56px;
    font-weight: 400;
    line-height: 64px; 
    letter-spacing: -0.778px;
    width: 573px;
}
.numbers{
    margin-left: 27%;
}
.jeremy{
    width: 109%;
}
.backgroundcolor{
    top: 70rem;
}
.pattern{
    top: 120%;
    left: 55%;
}
footer{
    gap: 35%;
}
}
@media only screen and (min-width:315px) and (max-width: 430px){
    body{
        margin-top: 24px; 
        margin-bottom: 80px;
        margin-left: 0px;
        margin-right: 0px;
    }
    header{
        gap:10rem;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.14px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .Request{
        padding: 12px 16.5px 12px 15.5px;
        border: 1px solid var(--Dark-Blue, #172339);
        font-size: 14px;
    }
    main{
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
    }
    .one{  
        gap: 32px;
        margin-left: 1rem;
    }
    h1{
        font-size: 36px;
        width: 343px;
        font-weight: 400;
    }
    .marketing{
        font-size: 16px;
        line-height: 28px; 
        letter-spacing: 0.0089px;
        width: 343px;
    }
    .request{
        margin-bottom: 55.68px;
    }
    .curved{
        width: 151.472px;
        height: 19px;
        transform: translate(10rem, -23rem);
    
    }
    .phone{
        width: 350px;
        height: 250px;
        transform: translate(-30rem, -1rem);
        margin-bottom: 24rem;
    }
    .numbers{
        display: flex;
        flex-direction: column;
        gap:32px;
        transform: translate(9rem, 40.9rem);
        position: absolute;
    }
    .jeremy{
        width: 100%;
        height: 748px;
        text-align: center;
        display: flex;
        gap: 35%;
    }
    .jeremyimg{
        width: 252px;
        height: 402px;
        transform: translate(5rem, -11rem);
    }
    .pattern{
        width: 49.268px;
        height: 40px;
        transform: translate(-14rem, 16rem);
    }
    .jj{
        margin-top: 9%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        line-height: 35px;
        letter-spacing: 0.1px;
        transform: translate(-33.9rem, 19rem);
    }
    .work{
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: -0.417px;
    }
    .like{
        width: 343px;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px; 
        letter-spacing: 0.09px;
    }
    .backgroundcolor{
        transform: translate(-1rem, -13rem);
        width: 103%;
    }
    footer{
        text-align: center;
        display: flex;
        gap: 33px;
        flex-direction: column;
    }
    .suite{
        font-size: 25px;
    }
    .icons{
        display: flex;
        gap: 1rem;
        height: 20px;
        margin-left: 39%;
    }
    

}
